body {
  background-color: steelblue;
}

#addEmployeeBtn,
#deleteBtn {
  background: #73ad21;
}

table {
  width: 600px;
  border-collapse: collapse;
  padding: 20px;
}

th,
td {
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
}

th {
  background-color: darkgray;
}

tr:nth-child(even) {
  background-color: lightslategrey;
}
tr:nth-child(odd) {
  background-color: whitesmoke;
}

#blankSpace {
  width: 100px;
}
#TotalMonthlydisplay {
  text-align: center;
  margin-right: 170px;
}
